$dark-grey: #92929d;
$grey: #e4e4e4;
$red: #d73b3b;
$AcaoAventura: rgb(0, 31, 172);
$Comedia: rgb(135, 172, 0);
$ComediaRomantica: rgb(0, 213, 225);
$Drama: rgb(0, 0, 0);
$SliceOfLife: rgb(59, 34, 0);
$Esportes: rgb(0, 152, 5);