@import "./variaveis";

.AcaoAventura {
    background-color: $AcaoAventura;
    color: white;
  }
.Comedia {
    background-color: $Comedia;
    color: white;
}
.ComediaRomantica {
    background-color: $ComediaRomantica;
    color: white;
}
.Drama {
    background-color: $Drama;
    color: white;
}
.SliceOfLife {
    background-color: $SliceOfLife;
    color: white;
}
.Esportes {
    background-color: $Esportes;
    color: white;
}