.botao {
  grid-column-start: span 2;
  align-self: center;
  justify-self: center;
  background-color: #50b848;
  border-radius: 10px;
  box-shadow: 2px 4px 4px #0000009F;
  color: #272626;
  cursor: pointer;
  font-size: 2.25rem;
  padding: 16px;
  width: 200px;
  
  &:active {
    background-color: #45a03f;
    box-shadow: 2px 2px 4px #0000009F inset;
  }
}